$color-light-2: theme('colors.support.black');
$color-grey-2: theme('colors.typo.secondary');
$color-primary-1: theme('colors.background.primary');
$color-white: theme('colors.typo.primary');

/* Rounded sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-light-2;
  border: 1px solid #3f3f3f;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  &:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 2px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: $color-grey-2;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
input {
  &:checked {
    + {
      .slider {
        background-color: $color-primary-1;
        &:before {
          background-color: $color-white;
          -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
          transform: translate(20px, -50%);
        }
      }
    }
  }
  &:focus {
    + {
      .slider {
        box-shadow: 0 0 1px #2196f3;
      }
    }
  }
}
.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}
